.custom-table-container .ant-input-search {
  /* border-radius: 20px; */
  overflow: hidden;
}

.ant-table-thead>tr>th {
  background-color: #1c355e !important;
  color: white !important;
  font-weight: bold;
  text-align: center !important;
}

.custom-row {
  background-color: #2db5a7;
  color: white;
  margin: 5px 0;
  overflow: hidden;
  text-align: center;
}

.custom-row td {
  background-color: #2db5a7 !important;
  border: none !important;
}

.action-link {
  color: white;
  cursor: pointer;
}

.ant-table {
  border-radius: 12px;
  overflow: hidden;
}

.custom-input .ant-input-group-addon {
  background-color: white;
}

.custom-input input[disabled] {
  color: #000000;
  /* Or any readable color */
  background-color: #e6e6e6;
  /* Optional: better contrast */
  opacity: 1;
  /* Prevent default Ant Design gray-out */
}

.custom-input .ant-input-group-addon input[disabled] {
  color: #000000;
  /* Or any readable color */
  background-color: #e6e6e6;
  /* Optional: better contrast */
  opacity: 1;
  /* Prevent default Ant Design gray-out */
}